# AVOCADO_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
AVOCADO_BBLAYERS_CONF_VERSION = "1"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-oe \
  ##OEROOT##/meta-python \
  ##OEROOT##/meta-avocado \
  ##OEROOT##/meta-avocado-qemu \
  ##OEROOT##/meta-peridio \
  ##OEROOT##/meta-erlang \
  ##OEROOT##/meta-networking \
  ##OEROOT##/meta-filesystems \
  ##OEROOT##/meta-virtualization \
  ##OEROOT##/meta-fwup \
  ##OEROOT##/meta-arm \
  ##OEROOT##/meta-arm-toolchain \
  "
